@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html { box-sizing: border-box; }

.rookie {position: fixed; top: 5px; left: 15px;}
#favicon:hover { transform: scale(2);}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(white, grey);
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 580px;
  height: 600px;
  background: whitesmoke;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header {
  background: goldenrod;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { color: white; font-size: 30px;}

.player-container { margin: 50px; }

h2 { margin-bottom: 10px;}

.fonticon { font-size: 35px; margin-right: 30px;}

#player .fonticon,
#player .choice { color: green; cursor: pointer;}

#computer .fonticon,
#computer .choice { color: rgb(235, 43, 52);}

#player .fonticon:last-of-type,
#computer .fonticon:last-of-type { margin-right: 0; }

.selected { color: black !important;}

.icon-reset {font-size: 30px; cursor: pointer; margin-left: 40px;}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 40px;
  margin: unset;
  margin-top: 10px;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container { width: 95%; height: 580px; }
  h1 { font-size: 24px; }
  .player-container {margin: 50px 0 25px 25px; }
  .fonticon {margin-right: 10px; }
  .icon-reset { margin-top: 25px; margin-left: 25px;}
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container { height: 550px; }
  h1 { font-size: 20px; }
  .player-container { margin: 43px 0 25px 20px; }
  .fonticon { font-size: 30px; }
  .icon-reset { margin-top: 15px; }
  .result-container { margin: 0 20px;}
}
