@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: white;
    background-color: #a79f9e;
    background-image: url("./wavesBG.svg");
    background-size: cover;
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  37px 37px 75px #a6a6a6,
             -37px -37px 75px #ffffff;
}
.quote-text{
    font-size: 2.75rem;

}
.long-quote{
    font-size: 2rem;
}
.fa-quote-left{
    font-size: 4rem;
}
.quote-author{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background: rgb(124, 128, 136);
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
    filter: brightness(150%);
}
button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.75);
}

.twitter-button:hover{
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.5rem;
}
/* Loader -loading animation */
.lds-dual-ring {
    display: inline-flexbox;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(126, 53, 53) transparent rgb(167, 74, 74) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Media Query: Table or smaller */
@media screen and (max-width: 1000px){
    .quote-container{
        margin: auto 10px;
    }

    .quote-text{
        font-size: 2.5rem;
    }
}
